[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
#search-users-box {
  background-color: #348fe2;
  position: relative;
  padding: 20px;
  border-radius: 3px;
  height: 100px;
  margin-bottom: 20px;
}
#search-users-box input {
  border-radius: 17px;
  font-size: 14px;
}
#search-users-box .btn-search {
  position: absolute;
  right: 18px;
  top: 12px;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  background: 0 0;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  font-size: 24px;
}
#api-view.panel h2 {
  margin-top: 0px;
}
#api-view.panel .caret {
  margin-right: 5px;
}
#api-view.panel .resource-item {
  margin-bottom: 5px;
}
#api-view.panel .resource-item label {
  font-size: 14px;
}
#api-view.panel .resource-item label span {
  margin-left: 10px;
  font-weight: normal;
}
#api-view.panel .form-horizontal > .form-group > div {
  border-left: 4px #ddd solid;
  min-height: 30px;
}
#api-view.panel .form-horizontal > .form-group > div span.literal {
  margin-top: 6px;
  display: block;
  font-size: 90%;
}
#api-view.panel .form-group {
  margin-bottom: 0px;
  padding-bottom: 5px;
  text-rendering: optimizelegibility;
  font-size: 14px;
}
#api-view.panel .form-group.toggable label:hover {
  cursor: pointer;
  text-decoration: underline;
}
#api-view.panel .form-group .form-group input,
#api-view.panel .form-group .form-group label {
  border-right: none;
  font-size: 12px;
  font-weight: normal;
  height: 24px;
}
#api-view.panel .form-group .form-group input.param {
  width: 100%;
}
#api-view.panel .form-group .btn.active {
  font-weight: bold;
}
#api-view.panel .form-group > label {
  font-weight: bold;
  padding-bottom: 8px;
}
#api-view.panel .form-group h5 {
  color: #428bca;
}
#api-view.panel .form-group input.param {
  padding: 2px 4px;
  width: 130px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  display: inline-block;
  height: 30px;
  margin-right: 5px;
}
#api-view.panel .form-group span.fixed,
#api-view.panel .form-group label.fixed {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
#api-view.panel .form-group#resource-name h5 .label {
  font-size: 90%;
  margin-left: 10px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
#api-view.panel .form-group#resource-uri .col-sm* {
  padding-top: 7px;
}
#api-view.panel .form-group#request-headers > label {
  margin-bottom: 5px;
}
#api-view.panel .form-group#request-headers .form-group > label {
  height: auto;
}
#api-view.panel .form-group #resource-documentation {
  margin-top: 15px;
  max-width: 725px;
}
#api-view.panel .form-group #resource-documentation code {
  color: #4F86CF;
  background-color: #EAEDFF;
}
#api-view.panel .form-group #resource-documentation blockquote {
  font-size: inherit;
  border: 1px solid #e5e5e5;
  background-color: #eee;
  border-radius: 5px;
}
#api-view.panel .form-group#resource-description .col-sm-10 {
  padding-top: 9px;
}
#api-view.panel .form-group#resource-description h4 {
  margin: 0px;
  font-weight: bold;
  font-size: 14px;
}
#api-view.panel .form-group#resource-modifiers span,
#api-view.panel .form-group#resource-modifiers input,
#api-view.panel .form-group#resource-modifiers select {
  height: 30px;
}
#api-view.panel .form-group#resource-modifiers .input-group-addon {
  padding: 0px 8px;
}
#api-view.panel .form-group#resource-modifiers span.input-group-addon {
  z-index: 10;
}
#api-view.panel .form-group#resource-modifiers select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-appearance: none;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
}
#api-view.panel .form-group#resource-url div {
  margin: 10px 0px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
}
#api-view.panel .form-group#request-data textarea {
  max-width: 725px;
  min-height: 100px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
#api-view.panel .form-group#request-submit label {
  border-right: none;
}
#api-view.panel .form-group#request-submit i {
  margin-right: 5px;
}
#api-view.panel .form-group#resource-method #methods-list {
  margin-right: 20px;
}
#api-view.panel .form-group#resource-method #methods-list label[disabled] {
  color: #7FB5E5;
}
#response-info {
  font-size: 14px;
}
#response-info strong.failure {
  color: #ff5b57;
}
#response-info strong.success {
  color: #4cae4c;
}
#request-results .tab-pane {
  padding: 10px;
  padding-bottom: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#request-results #response-content[data-type=image] {
  text-align: center;
}
#request-results #response-content[data-type=image] img {
  border: 1px solid #eee;
  padding: 10px;
  margin: 10px;
}
.table-responsive .row {
  margin: 0px;
}
.dataTables_filter,
.dataTables_paginate {
  float: right;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 4px 8px;
}
button.delete {
  border: none;
  background: none;
  font-size: 16px;
  color: #ff5b57;
}
span.prop {
  font-weight: bold;
}
.sidebar .sub-menu > li.active > a:before {
  color: #348fe2;
}
#api-view.panel .form-group#resource-method #methods-list {
  margin-right: 0px;
}
.scroll-body {
  height: 100%;
}
.login-error {
  margin-top: 10px;
  font-size: 14px;
}
.login-content .domain_name h2 {
  color: #fff;
  margin: 10px 0px 30px;
  font-family: Monospace;
  text-align: center;
}
.navbar-domain {
  font-weight: normal;
  margin-top: 10px;
  margin-left: 5px;
  height: 100%;
  float: left;
  font-family: Monospace;
  font-size: 22px;
}
.navbar-domain a {
  text-decoration: none;
}
.navbar-domain a:hover {
  color: #eee;
}
.navbar-domain span {
  color: #fff;
}
.navbar-domain span:hover {
  color: #eee;
}
.impersonated .navbar.navbar-inverse .navbar-brand,
.impersonated .sidebar .nav > li.active > a,
.impersonated .sidebar .nav > li.active > a:focus,
.impersonated .sidebar .nav > li.active > a:hover,
.impersonated .page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a,
.impersonated .page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a,
.impersonated .page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
.impersonated .label.label-theme,
.impersonated .btn.btn-scroll-to-top {
  background: #f59c1a;
}
.deployment.panel {
  float: left;
  margin-right: 20px;
  width: 230px;
}
.deployment.panel .panel-title {
  font-size: 14px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.deployment.panel.active {
  width: 100%;
}
.deployment.panel .components ul {
  padding: 0px;
}
.deployment.panel .components li {
  list-style: none;
}
i.component-icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  margin-right: 2px;
  margin-bottom: 2px;
}
i.component-icon.mongodbcluster {
  background-image: url('../static/icons/mongodb30x30.png');
}
i.component-icon.nginx {
  background-image: url('../static/icons/nginx30x30.png');
}
i.component-icon.rabbitserver {
  background-image: url('../static/icons/rabbitmq30x30.png');
}
i.component-icon.oauth {
  background-image: url('../static/icons/oauth30x30.png');
}
i.component-icon.ldapserver {
  background-image: url('../static/icons/openldap30x30.png');
}
i.component-icon.hub {
  background-image: url('../static/hub30x30.png');
}
i.component-icon.maxcluster {
  background-image: url('../static/icons/max30x30.png');
}
.display-flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-6 {
  flex: 6;
}
[class*="flex-"] {
  padding-left: 10px;
  padding-right: 10px;
}
[class*="flex-"]:first-child {
  padding-left: 0;
}
[class*="flex-"]:nth-last-child(2) {
  padding-right: 0;
}
.fieldgroup-title {
  font-size: 12px;
  margin-bottom: 5px;
}
.formly-field.input-small input {
  width: 200px;
}
@media (min-width: 500px) {
  #request-results #response-content pre br {
    display: none;
  }
}
@media (max-width: 767px) {
  .content {
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
  }
  h1.page-header {
    padding: 10px;
  }
  .deployment.panel {
    width: 45%;
  }
  #api-view.panel form > .form-group,
  #api-view.panel #resource-details > .form-group {
    padding: 10px 5px;
    border-bottom: 2px #ddd solid;
  }
  #api-view.panel form > .form-group#request-submit,
  #api-view.panel #resource-details > .form-group#request-submit,
  #api-view.panel form > .form-group#request-headers,
  #api-view.panel #resource-details > .form-group#request-headers {
    border: none;
  }
  #api-view.panel #request-submit button {
    width: 100%;
  }
  #api-view.panel .form-group > label {
    font-weight: bold;
    border-right: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  #api-view.panel .form-group h5 {
    padding: 0px 0px;
  }
  .content small {
    font-size: 16px;
  }
  #api-view .panel-body {
    padding: 7px;
  }
  #request-results .nav.nav-tabs li a {
    padding: 10px 15px;
    margin-right: 0px;
    font-size: 14px;
  }
  #api-view .btn-group {
    margin-top: 5px;
  }
  #api-view .btn-group > .btn {
    padding: 5px 10px;
  }
}
@media (max-width: 500px) {
  .deployment.panel {
    width: 100%;
  }
}
