#api-view.panel h2 {
  margin-top: 0px;
}
#api-view.panel .resource-item {
  margin-bottom: 5px;
}
#api-view.panel .resource-item label {
  font-size: 14px;
}
#api-view.panel .resource-item label span {
  margin-left: 10px;
  font-weight: normal;
}
#api-view.panel .form-group {
  margin-bottom: 0px;
  padding-bottom: 5px;
  text-rendering: optimizelegibility;
  font-size: 14px;
}
#api-view.panel .form-group .form-group {
  margin-bottom: 5px;
}
#api-view.panel .form-group .form-group input,
#api-view.panel .form-group .form-group label {
  border-right: none;
  font-size: 12px;
  font-weight: normal;
  height: 24px;
}
#api-view.panel .form-group .form-group input.param {
  width: 100%;
}
#api-view.panel .form-group .btn.active {
  font-weight: bold;
}
#api-view.panel .form-group > label {
  font-weight: bold;
  border-right: 4px #ddd solid;
  padding-bottom: 8px;
}
#api-view.panel .form-group h5 {
  color: #428bca;
}
#api-view.panel .form-group input.param {
  padding: 2px 4px;
  width: 130px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  display: inline-block;
  height: 30px;
}
#api-view.panel .form-group span.fixed,
#api-view.panel .form-group label.fixed {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
#api-view.panel .form-group#resource-name h5 .label {
  font-size: 90%;
  margin-left: 10px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
#api-view.panel .form-group#resource-uri input.param {
  font-weight: bold;
}
#api-view.panel .form-group#resource-uri .col-sm* {
  padding-top: 7px;
}
#api-view.panel .form-group#request-headers .col-sm-10,
#api-view.panel .form-group#request-data .col-sm-10 {
  border-left: 4px #ddd solid;
  margin-left: -4px;
}
#api-view.panel .form-group#resource-description .col-sm-10 {
  padding-top: 9px;
}
#api-view.panel .form-group#resource-description p {
  margin-bottom: 0px;
}
#api-view.panel .form-group#request-data textarea {
  min-height: 100px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
#api-view.panel .form-group#request-submit label {
  border-right: none;
}
#api-view.panel .form-group#request-submit i {
  margin-right: 5px;
}
#api-view.panel .form-group#resource-method #methods-list {
  margin-right: 20px;
}
#request-results .tab-pane {
  padding: 10px;
  padding-bottom: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#request-results #response-content[data-type=image] {
  text-align: center;
}
#request-results #response-content[data-type=image] img {
  border: 1px solid #eee;
  padding: 10px;
  margin: 10px;
}
