<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" data-original-title="" title=""><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title" translate="contexts_table">Contextes</h4>
    </div>
    <div class="panel-body" style="display: block;">
        <div class="table-responsive">
            <table datatable="ng" dt-options="contextsCtrl.dtOptions" dt-column-defs="contextsCtrl.dtColumnDefs" class="compact table table-striped">
                <thead>
                    <tr>
                        <th translate="col_context">DisplayName</th>
                        <th>Url</th>
                        <th translate="col_actions">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="context in contextsCtrl.contexts">
                        <td><a ui-sref="context({id:context.hash})">{{context.displayName}}</a></td>
                        <td>{{context.url}}</td>
                        <td>
                            <a href="" ng-click="contextsCtrl.confirmModal('sm',context.hash)">
                                <button class="delete fa fa-minus-square" alt="Eliminar contexte"></button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <div class="view-actions pull-right">
                <button class="btn btn-primary" ng-click="contextsCtrl.openModal()" translate="btn_new_context">New Context</button>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="new-context.html">
    <div class="modal-header">
        <h3 class="modal-title" translate="title_new_context">Add new context</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="displayName">DisplayName</label>
                <input ng-model="newcontext.displayName" type="text" class="form-control" id="displayName" placeholder="Enter name context">
            </div>
            <div class="form-group">
                <label for="url">Url</label>
                <input ng-model="newcontext.url" type="text" class="form-control" id="url" placeholder="Enter url">
            </div>
        </form>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()" translate="btn_ok">OK</button>
        <button class="btn btn-warning" ng-click="cancel()" translate="btn_cancel">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="remove-context.html">
    <div class="modal-header">
        <h3 class="modal-title" translate="title_remove_context">Confirm remove context</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-warning" role="alert" translate="label_delete_context">Are you sure to delete this context?</div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()" translate="btn_ok">OK</button>
        <button class="btn btn-warning" ng-click="cancel()" translate="btn_cancel">Cancel</button>
    </div>
</script>
