<h1 class="page-header">Deployments: <span>{{deploymentCtrl.obj.name}}</span> <br/><small>{{deploymentCtrl.obj.title}}</small></h1>
<h5>Components</h5>
<div class="panel dep-panel component" ng-repeat="component in deploymentCtrl.obj.components">
    <div class="panel-heading">
        <a>
            <i class="component-icon {{component.type}}"></i>
            <h4 class="component-type">{{component.type}}</h4>
        </a>
    </div>
    <div class="panel-body">

    </div>
    <div class="new subcomponent">
        <i class="fa fa-plus"></i>New mongodb instance
    </div>
</div>
<div class="panel dep-panel component new">
    <div class="panel-heading">
        <a href="" ng-click="deploymentCtrl.newComponentModal()">
            <i class="fa fa-plus"></i>
            <h4>Register new component</h4>
        </a>

                        <select name="new_component" class="form-control" ng-change="deploymentCtrl.forgeURL()" ng-model="deploymentCtrl.selectedComponent" ng-options="comp.desc for comp in deploymentCtrl.components track by comp.name" />
    </div>
</div>
