<h1 class="page-header">Deployments
          <small></small>
      </h1>
<div ui-view>
    <div ng-repeat="deployment in deploymentsCtrl.deployments" class="panel dep-panel deployment">
        <div class="panel-heading">
            <a ui-sref="deployment({name:deployment.name})">
                <i class="fa fa-server"></i>
                <h4 class="panel-title">{{deployment.name}}</h4>
            </a>
        </div>
        <div class="panel-body">
            <h5 class="title">{{deployment.title}}</h5>
            <div class="components">
                <i ng-repeat="component in deployment.components" class="component-icon {{component.type}}"></i>
            </div>
            <div>
                <p>faiada.upcnet.es, oauth.upcnet.es, finestrelles.upcnet.es</p>
            </div>
        </div>
    </div>

    <div class="panel dep-panel deployment new">
        <div class="panel-heading">
            <a ui-sref="deployment({name:deployment.name})">
                <i class="fa fa-plus"></i>
                <h4>Register a new deployment</h4>
            </a>
        </div>
    </div>
</div>
