<div ui-view>

    <h1 class="page-header"><strong>{{mainCtrl.domainObj.name}}</strong> domain dashboard
      <br/><small>{{mainCtrl.domainObj['max']}}</small>
    </h1>

              <!-- begin row -->
              <div class="row">

                  <!-- begin col-3 -->
                  <div class="col-md-6 col-sm-6">

                      <div class="panel panel-inverse">
                          <div class="panel-heading">
                              <h4 class="panel-title">Activity Stream</h4>
                          </div>
                          <div id="container" ui-jq="maxUI" ui-options="mainCtrl.maxuisettings">

                          </div>
                      </div>
                  </div>
                  <!-- end col-3 -->
                  <!-- begin col-3 -->
                  <div class="col-md-3 col-sm-6">
                  </div>
                  <!-- end col-3 -->

              </div>
              <!-- end row -->


</div>
</div>
