<div id="api-view" class="panel panel-inverse" data-sortable-id="ui-widget-5">
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group" id="resource-name">
                <label for="resource-name" class="col-sm-2 col-xs-5 control-label">Resource</label>
                <div class="col-sm-10 col-xs-12">
                    <h5>{{endpointCtrl.name}}</h5> </div>
            </div>
            <div class="form-group" id="resource-uri">
                <label for="resource-uri" class="col-sm-2 col-xs-12 control-label">Parameters</label>
                <div class="col-sm-10 col-xs-12">
                    <span ng-repeat-start="part in endpointCtrl.route" ng-if="part.fixed" class="fixed">{{part.text}}</span>
                    <input ng-repeat-end pu-elastic-input ng-model="endpointCtrl.rest_params[part.name]" ng-change="endpointCtrl.forgeURL()" ng-if="!part.fixed" class="param form-control" placeholder="{{part.text}}">
                </div>
            </div>
            <div class="form-group" id="resource-method">
                <label for="resource-method" class="col-sm-2 col-xs-5 control-label">Req. Method</label>
                <div class="col-sm-10 col-xs-12">
                    <div class="btn-group" id="methods-list" data-toggle="buttons">
                        <label class="btn btn-primary {{endpointCtrl.isActiveMethod(method.name)}}" ng-repeat="method in endpointCtrl.methods" ng-disabled="!method.implemented" ng-click="endpointCtrl.setActiveMethod(method.name)">
                            <input type="radio" name="methods-list" data-value="GET" id="method-get">{{method.name}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group toggable" id="resource-description">
                <label ng-click="endpointCtrl.toggle('documentation')" for="resource-description" class="col-sm-2 col-xs-5 control-label"><b class="caret"></b>Description</label>
                <div class="col-sm-10 col-xs-12">
                    <h4>{{endpointCtrl.description}}</h4>
                    <div id="resource-documentation" ng-show="endpointCtrl.visibility.documentation">
                        <div btf-markdown="endpointCtrl.documentation"></div>
                    </div>
                </div>

            </div>


            <div class="form-group" ng-class="{toggable: endpointCtrl.has_modifiers}" id="resource-modifiers">
                <label ng-click="endpointCtrl.toggle('modifiers')" for="resource-modifiers" class="col-sm-2 col-xs-12 control-label"><b ng-if="endpointCtrl.has_modifiers" class="caret"></b>Modifiers
                </label>
                <div class="col-sm-10 col-xs-12" ng-switch="endpointCtrl.visibility.modifiers">
                    <span class="literal" ng-switch-when="false"> {{endpointCtrl.modifiers_toggle_message}}</span>
                    <div ng-switch-when="true">
                        <!-- Start Limit parameter -->
                        <div class="form-group" id="qs-limit" ng-if="endpointCtrl.modifiers.limit.available">
                            <label class="col-sm-4 col-md-3 col-xs-2 control-label fixed">limit</label>
                            <div class="col-sm-8 col-md-9 col-xs-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                    <input class="qs-status" type="checkbox" ng-change="endpointCtrl.forgeURL()" ng-model="endpointCtrl.modifiers.limit.enabled" />
                                </span>
                                    <input class="qs-value form-control" type="text" ng-change="endpointCtrl.forgeURL()" ng-disabled="!endpointCtrl.modifiers.limit.enabled" ng-model="endpointCtrl.modifiers.limit.value" />
                                </div>
                            </div>
                        </div>
                        <!-- End limit parameter -->
                        <!-- Start sort order parameter -->
                        <div class="form-group" id="qs-sort" ng-if="endpointCtrl.modifiers.priority.available">
                            <label class="col-sm-4 col-md-3 col-xs-2 control-label fixed">sort</label>
                            <div class="col-sm-8 col-md-9 col-xs-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                    <input class="qs-status" type="checkbox" ng-change="endpointCtrl.forgeURL()" ng-model="endpointCtrl.modifiers.sort.enabled" />
                                </span>
                                    <select class="qs-value form-control" ng-change="endpointCtrl.forgeURL()" ng-disabled="!endpointCtrl.modifiers.sort.enabled" ng-model="endpointCtrl.modifiers.sort.value">
                                        <option>published</option>
                                        <option>likes</option>
                                        <option>flagged</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- End sort order parameter -->
                        <!-- Start sort priority parameter -->
                        <div class="form-group" id="qs-priority" ng-if="endpointCtrl.modifiers.priority.available">
                            <label class="col-sm-4 col-md-3 col-xs-2 control-label fixed">priority</label>
                            <div class="col-sm-8 col-md-9 col-xs-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                    <input class="qs-status" type="checkbox" ng-change="endpointCtrl.forgeURL()" ng-model="endpointCtrl.modifiers.priority.enabled" />
                                </span>
                                    <select class="qs-value form-control" ng-change="endpointCtrl.forgeURL()" ng-disabled="!endpointCtrl.modifiers.priority.enabled" ng-model="endpointCtrl.modifiers.priority.value">
                                        <option>activity</option>
                                        <option>comments</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- End sort order parameter -->
                        <!-- Start after parameter -->
                        <div class="form-group" id="qs-after" ng-if="endpointCtrl.modifiers.after.available">
                            <label class="col-sm-4 col-md-3 col-xs-2 control-label fixed">after</label>
                            <div class="col-sm-8 col-md-9 col-xs-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                    <input class="qs-status" type="checkbox" ng-change="endpointCtrl.forgeURL()" ng-model="endpointCtrl.modifiers.after.enabled" />
                                </span>
                                    <input class="qs-value form-control" type="text" ng-change="endpointCtrl.forgeURL()" ng-disabled="!endpointCtrl.modifiers.after.enabled" ng-model="endpointCtrl.modifiers.after.value" />
                                </div>
                            </div>
                        </div>
                        <!-- End after parameter -->
                        <!-- Start before parameter -->
                        <div class="form-group" id="qs-before" ng-if="endpointCtrl.modifiers.before.available">
                            <label class="col-sm-4 col-md-3 col-xs-2 control-label fixed">before</label>
                            <div class="col-sm-8 col-md-9 col-xs-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                    <input class="qs-status" type="checkbox" ng-change="endpointCtrl.forgeURL()" ng-model="endpointCtrl.modifiers.before.enabled" />
                                </span>
                                    <input class="qs-value form-control" type="text" ng-change="endpointCtrl.forgeURL()" ng-disabled="!endpointCtrl.modifiers.before.enabled" ng-model="endpointCtrl.modifiers.before.value" />
                                </div>
                            </div>
                        </div>
                        <!-- End before parameter -->
                        <!-- Start notifications parameter-->
                        <div class="form-group" id="qs-notifications" ng-if="endpointCtrl.modifiers.notifications.available">
                            <label class="col-sm-4 col-md-3 col-xs-2 control-label fixed">notifications</label>
                            <div class="col-sm-8 col-md-9 col-xs-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                    <input class="qs-status" type="checkbox" ng-change="endpointCtrl.forgeURL()" ng-model="endpointCtrl.modifiers.notifications.enabled" />
                                </span>
                                    <input class="qs-value form-control" type="text" ng-change="endpointCtrl.forgeURL()" ng-disabled="!endpointCtrl.modifiers.notifications.enabled" ng-model="endpointCtrl.modifiers.notifications.value" />
                                </div>
                            </div>
                        </div>
                        <!-- End notifications parameter -->
                    </div>
                </div>
            </div>

            <div class="form-group" id="request-data" ng-show="endpointCtrl.data">
                <label for="resource-description" class="col-sm-2 control-label">Data</label>
                <div class="col-sm-10">
                    <textarea class="form-control" ng-model="endpointCtrl.data"></textarea>
                </div>
            </div>

            <div class="form-group toggable" id="request-headers">
                <label ng-click="endpointCtrl.toggle('headers')" for="request-headers" class="col-sm-2 col-xs-12 control-label"><b class="caret"></b>Headers</label>
                <div class="col-sm-10 col-xs-12" ng-switch="endpointCtrl.visibility.headers">
                    <span class="literal" ng-switch-when="false"> (Toggle section to modify headers)</span>
                    <div ng-switch-when="true">
                        <div class="form-group" id="X-Oauth-Username">
                            <label class="col-sm-4 col-md-3 col-xs-12 control-label fixed">X-Oauth-Username</label>
                            <div class="col-sm-8 col-md-9 col-xs-12">
                                <input class="param form-control" type="text" value="{{endpointCtrl.info['X-Oauth-Username']}}"> </div>
                        </div>
                        <div class="form-group" id="X-Oauth-Token">
                            <label class="col-sm-4 col-md-3 col-xs-12 control-label fixed">X-Oauth-Token</label>
                            <div class="col-sm-8 col-md-9 col-xs-12">
                                <input class="param form-control" type="text" value="{{endpointCtrl.info['X-Oauth-Token']}}"> </div>
                        </div>
                        <div class="form-group" id="X-Oauth-Scope">
                            <label class="col-sm-4 col-md-3 col-xs-12 control-label fixed">X-Oauth-Scope</label>
                            <div class="col-sm-8 col-md-9 col-xs-12">
                                <input class="param form-control" type="text" value="{{endpointCtrl.info['X-Oauth-Scope']}}"> </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group" id="resource-url">
                <label for="resource-url" class="col-sm-2 col-xs-5 control-label">Request URL</label>
                <div class="col-sm-10 col-xs-12">
                    {{endpointCtrl.url}}
                </div>
            </div>

            <div id="request-submit">
                <label class="col-sm-2 col-xs-5 control-label"></label>
                <div class="col-sm-10 col-xs-12">
                    <button type="submit" class="btn btn-large btn-primary" id="execute_button" ng-click="endpointCtrl.launch()"> <i class="fa glyphicon glyphicon-random"></i> Launch Request </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="alert alert-danger fade in" ng-show="endpointCtrl.error.active">
    <strong>Error!</strong> {{endpointCtrl.error.message}}
    <span class="close" data-dismiss="alert">×</span>
</div>
<div id="response-info">
    <p><strong class="{{endpointCtrl.response.type}}">{{endpointCtrl.response.status}}</strong> {{endpointCtrl.response.time}}</p>
</div>
<div id="request-results">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#response-content" data-toggle="tab">Response</a></li>
        <li><a href="#response-raw" data-toggle="tab">RAW Response</a></li>
        <li><a href="#http-request-headers" data-toggle="tab">Request</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="response-content"> <pre><json-explorer collapsed="true" data="endpointCtrl.response.json"></json-explorer><div ng-bind-html="endpointCtrl.response.placeholder"></div></pre> </div>
        <div class="tab-pane" id="response-raw"> <pre>{{endpointCtrl.response.raw}}</pre> </div>
        <div class="tab-pane" id="http-request-headers"> </div>
    </div>
</div>
