
          <div ng-controller="DomainsController as ctrl">
              <table datatable="ng" dt-options="ctrl.dtOptions"
                     dt-column-defs="ctrl.dtColumnDefs"
                     class="compact table table-striped">
                  <thead>
                    <tr>
                      <th translate="col_domain">domain</th>
                      <th translate="col_server">server</th>
                      <th translate="col_oauth">oauth</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="domain in ctrl.domains">
                      <td><a ui-sref="domain({domain:domain.name,server:domain.server})">{{ domain.name }}</a></td>
                      <td>{{ domain.server }}</td>
                      <td>{{ domain.oauth_server }}</td>

                    </tr>
                  </tbody>
              </table>

              <hr>
              <div class="view-actions pull-right">
                <button class="btn btn-primary" ng-click="ctrl.open()" translate="btn_new_domain">New domain</button>
              </div>


              <script type="text/ng-template" id="new-domain.html">

                  <div class="modal-header">
                      <h3 class="modal-title" translate="title_new_domain">Add new domain</h3>
                  </div>
                  <div class="modal-body">

                  <form>
                    <div class="form-group">
                      <label for="domainName" translate="label_domain_name">Domain name</label>
                      <input ng-model="newdomain.name" type="text" class="form-control" id="domainName" placeholder="{{'placeholder_newdomain_name' | translate}}">
                    </div>

                    <div class="form-group">
                      <label for="maxServerUrl" translate="label_max_server">Max server</label>
                      <input ng-model="newdomain.server" type="text" class="form-control" id="maxServerUrl" placeholder="{{'placeholder_newdomain_server' | translate}}">
                    </div>

                    <div class="form-group">
                      <label for="domainName" translate="label_username_domain">Username</label>
                      <input ng-model="newdomain.user" type="text" class="form-control" id="user" placeholder="{{'placeholder_newdomain_user' | translate}} ">
                    </div>

                    <div class="form-group">
                      <label for="maxServerUrl" translate="label_password_domain">Password</label>
                      <input ng-model="newdomain.password" type="password" class="form-control" id="password" placeholder="{{'placeholder_newdomain_pass' | translate}}">
                    </div>

                  </form>

                      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                  </div>
                  <div class="modal-footer">
                      <button class="btn btn-primary" ng-click="ok()" translate="btn_ok">OK</button>
                      <button class="btn btn-warning" ng-click="cancel()" translate="btn_cancel">Cancel</button>
                  </div>
              </script>
              
          </div>



