
#api-view.panel {
    h2 { margin-top:0px;}
    .resource-item {
        margin-bottom: 5px;
        label {
            font-size: 14px;
            span {
                margin-left: 10px;
                font-weight: normal;
            }
        }
    }

    .form-group {
        margin-bottom: 0px;
        padding-bottom: 5px;
        text-rendering: optimizelegibility;
        font-size: 14px;
        .form-group {
            input, label {
                border-right: none;
                font-size: 12px;
                font-weight: normal;
                height:24px;
            }
            input.param {
                width:100%;
            }
            margin-bottom: 5px;
        }

        .btn.active {
            font-weight: bold;
        }
        .btn[disabled] {

        }
        &>label {
            font-weight: bold;
            border-right: 4px #ddd solid;
            padding-bottom: 8px;
        }

        h5 {
            color: #428bca;
             }

       input.param {
                padding: 2px 4px;
                width:130px;
                border:1px solid #ddd;
                border-radius:4px;
                font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
                display: inline-block;
                height:30px;
        }
        span.fixed, label.fixed {
            font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
        }

        &#resource-name {
            h5 .label {
                font-size: 90%;
                margin-left:10px;
                font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
            }
        }


        &#resource-uri {
            input.param {font-weight: bold;}
            .col-sm* {
                padding-top: 7px;
            }
        }

        &#request-headers, &#request-data {
            .col-sm-10 {
                border-left: 4px #ddd solid;
                margin-left: -4px;
            }
        }

        &#resource-description {
            .col-sm-10 {padding-top: 9px;}
            p {margin-bottom: 0px;}
        }

        &#request-data {
            textarea {
                min-height: 100px;
                font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
            }
        }

        &#request-submit {
            label {border-right: none;}
            i {
                margin-right: 5px;
            }
        }

        &#resource-method {
            #methods-list {
                margin-right: 20px;
            }
        }
    }
}

#request-results {
    .tab-pane {
        padding:10px;
        padding-bottom: 0px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    #response-content {
        &[data-type=image] {
            text-align: center;
            img {
                border: 1px solid #eee;
                padding: 10px;
                margin:10px;
            }
        }
    }

}


