[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#api-view.panel {
    h2 { margin-top:0px;}
    .resource-item {
        margin-bottom: 5px;
        label {
            font-size: 14px;
            span {
                margin-left: 10px;
                font-weight: normal;
            }
        }
    }

    .form-group {
        margin-bottom: 0px;
        padding-bottom: 5px;
        text-rendering: optimizelegibility;
        font-size: 14px;
        .form-group {
            input, label {
                border-right: none;
                font-size: 12px;
                font-weight: normal;
                height:24px;
            }
            input.param {
                width:100%;
            }
            margin-bottom: 5px;
        }

        .btn.active {
            font-weight: bold;
        }
        .btn[disabled] {

        }
        &>label {
            font-weight: bold;
            border-right: 4px #ddd solid;
            padding-bottom: 8px;
        }

        h5 {
            color: #428bca;
             }

       input.param {
                padding: 2px 4px;
                width:130px;
                border:1px solid #ddd;
                border-radius:4px;
                font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
                display: inline-block;
                height:30px;
        }
        span.fixed, label.fixed {
            font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
        }

        &#resource-name {
            h5 .label {
                font-size: 90%;
                margin-left:10px;
                font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
            }
        }


        &#resource-uri {
            .col-sm* {
                padding-top: 7px;
            }
        }

        &#request-headers, &#request-data {
            .col-sm-10 {
                border-left: 4px #ddd solid;
                margin-left: -4px;
            }
        }

        &#request-headers>label {
            margin-bottom:5px;
        }

        &#request-headers .form-group>label {
            font-size:10px;
            height:auto;
        }
        &#resource-description {
            .col-sm-10 {padding-top: 9px;}
            p {margin-bottom: 0px;}
        }

        &#request-data {
            textarea {
                min-height: 100px;
                font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
            }
        }

        &#request-submit {
            label {border-right: none;}
            i {
                margin-right: 5px;
            }
        }

        &#resource-method {
            #methods-list {
                margin-right: 20px;
            }
        }
    }
}


#response-info {
    font-size: 14px;
    strong.failure {color:#ff5b57;}
    strong.success {color: #4cae4c;}
}

#request-results {
    .tab-pane {
        padding:10px;
        padding-bottom: 0px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    #response-content {
        &[data-type=image] {
            text-align: center;
            img {
                border: 1px solid #eee;
                padding: 10px;
                margin:10px;
            }
        }
    }

}

.table-responsive .row {
    margin: 0px;
}
.dataTables_filter, .dataTables_paginate{
    float:right;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 4px 8px;
}

button.delete {
    border:none;
    background: none;
    font-size:16px;
    color:#ff5b57;
}

span.prop {
    font-weight: bold;
}

.sidebar .sub-menu>li.active>a:before {
    color: #348fe2;
}

#api-view.panel .form-group#resource-method #methods-list {
    margin-right: 0px;
}

.scroll-body {
    height:100%;
}

.login-error {
    margin-top: 10px;
    font-size:14px;
}

.login-content .domain_name h2{
    color: #fff;
    margin: 10px 0px 30px;
    font-family: Monospace;
    text-align: center;

}

.navbar-domain {
    font-weight: normal;
    margin-top:10px;
    margin-left:5px;
    height:100%;
    float:left;
    font-family: Monospace;
    font-size:22px;
    span {
        color: #fff;
    }
}

@media (min-width: 500px) {

    #request-results #response-content pre br {
        display:none;
    }
}
@media (max-width: 767px) {
    .content {
      margin-left: 0;
      padding: 5px;
    }

    h1.page-header {
        padding:10px;
    }

    #api-view.panel form > .form-group, #api-view.panel #resource-details > .form-group {
      padding:10px 5px;
      border-bottom: 2px #ddd solid;

      &#request-submit, &#request-headers {
        border:none;
      }
    }

    #api-view.panel #request-submit button {
        width: 100%;
    }
    #api-view.panel .form-group > label {
      font-weight: bold;
      border-right: none;
      padding-bottom: 0px;
      margin-bottom: 0px;
    }

    #api-view.panel .form-group h5 {
      padding: 0px 0px;
    }

    .content small {
        font-size: 16px;
    }

    #api-view .panel-body {
        padding:7px;
    }

    #request-results {

        .nav.nav-tabs li a {
            padding: 10px 15px;
            margin-right:0px;
            font-size: 14px;
        }

    }

    #api-view .btn-group {
        margin-top: 5px;
    }

    #api-view .btn-group>.btn {
        padding:5px 10px;
    }
}



